
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]= "name" name="name" matInput placeholder="first name" >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]= "email" name="email" matInput placeholder="email" >
  </mat-form-field>
  <p  class = "error" *ngIf = "error.code=='auth/invalid-email'">
     {{error.message}}   
  </p>

  <mat-form-field class="example-full-width">
    <input [(ngModel)]= "password" name="password" matInput placeholder="password" >
  </mat-form-field>
  <p  class = "error" *ngIf = "error.code=='auth/weak-password'">
    {{error.message}}   
 </p>
  
</form>
<button mat-raised-button (click) = "signUp()"> Sign Up </button>
