<div class = 'user'>
  <input [(ngModel)] = "user" type = "text" > 
  <button (click)= "changeuser()"
                  > change user
  </button>
</div>
<div>
  {{user}}
</div>
<div>
  <ul>
    <todo *ngFor = "let todo of todos"
          [data] = "todo"
          (myButtonClicked) = "showText($event)"
    ></todo>
  </ul>
</div>
<div>
  this is the text from the child:{{todoTextFromTodo}}
</div>