<mat-card class="example-card">
  <mat-card-content>
    <!--לינקים-->
    <a routerLink = "">Todos </a>
    <a *ngIf ="!(authService.user |async)" routerLink = "/login">Login</a>  
    <!--כפתורים-->
    <button *ngIf ="authService.user |async"  (click)= "logout()">Logout</button>
    <button (click)= "toRegister()" > Register</button>
    <button (click)= "toCodes()">Codes</button>
    <button (click)= "toUserTodos()">User Todos</button>   
  </mat-card-content>
</mat-card>
<!--קריאה ליוזר, ?-קיים נמשוך, לא קיים לא ימשך-->
<div *ngIf="authService.user | async">
  <h1>
      Welcome {{  (authService.user | async)?.displayName}}
  </h1>
</div>