<div>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]= "text"  matInput placeholder="Add todo" >
    <mat-hint>Todo item</mat-hint>
  </mat-form-field>
</div>

<button mat-raised-button (click) = "addTodo()"> Add Todo </button>

<div>
  <ul>
    <todo *ngFor = "let todo of todos"
          [data] = "todo"
          (myButtonClicked) = "showText($event)"
    ></todo>
  </ul>
</div>
<div>
  this is the text from the child:{{todoTextFromTodo}}
</div>