<li (mouseenter)='showButton()'
    (mouseleave)='hideButton()'
>
  <span *ngIf = "!showEditField" (click) = "showEdit()"> 
    {{text}} 
  </span>
  <mat-form-field *ngIf = "showEditField">
      <input [(ngModel)]= "text"  matInput >
  </mat-form-field>
  <button mat-raised-button (click) = "save()"
          *ngIf = "showEditField"> 
          Save 
  </button>
  <button mat-raised-button (click) = "cancel()"
          *ngIf = "showEditField"> 
          Cancel
</button>

  <button  mat-raised-button (click)= "toDelete()"
          *ngIf = 'showTheButton'> 
          delete
  </button>
</li>